<% if DelayedJobsManagement.enabled_recurring_jobs? %>
  <h3>Recurring Jobs</h3>

  <% if @recurring_jobs.present? %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @recurring_jobs.each do |recurring_job| %>
          <% running = recurring_job.job&.scheduled? %>
          <tr>
            <td>
              <% if recurring_job.name.present? %>
                <%= recurring_job.name %>
              <% else %>
                <%= recurring_job.job.to_s %>
              <% end %>
            </td>
            <td>
              <strong class="label  label-sm <%= running ? "label-b" : "label-c" %>">
                <%= running ? "Running" : "Stopped" %>
              </strong>
            </td>
            <td>
              <%= form_tag recurring_job_path(id: recurring_job.name), method: :patch, class: 'link' do %>
                <%= submit_tag((running ? "Stop" : "Start"), class: 'action') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="msg msg-warning">
      No recurring jobs were found<br>
      Do you make sure that you set configurations for delayed_jobs_management?
      <br>
      <br>
      <pre>
        # config/initailzers/delayed_jobs_management.rb

        DelayedJobsManagement.config do |c|
          c.recurring_jobs = [
            { name: 'job_name_1', job: Recurring::ExampleFirstJob },
            { name: 'job_name_2', job: Recurring::ExampleSecondJob }
          ]
        end
      </pre>
    </div>
  <% end %>
<% end %>
